.fav-div {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.fav-div h1 {
  color: blue;
  font-size: 24px;
  margin-bottom: 20px;
}

.fav-div h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.fav-div h3 {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.fav-div h4 {
  font-size: 14px;
  margin-top: 10px;
}

.fav-div img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.fav-div p {
  margin-top: 5px;
}

.fav-div a {
  color: white;
}

.fav-div ul {
  margin-top: 10px;
  margin-bottom: 20px;
}