body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #3C5A9C;
  padding: 0 20px;
}

.navRight button {
  border: 7px bold black;
  background-color: white;
  font-size: 16px;
  border-radius: 4px;
  padding: 10px 40px;
  margin: 5px;
}

.navRight button:hover {
  background-color: lightblue;
}




